.home-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.cart-container{
    background-color: tomato;
    border-radius: 10px;
    margin: 10px;
    /* position:static; */
    top: 0;
}
.tshirt-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}